html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, strong, b, u, i, pre, code, del, strike, abbr, acronym, address, q, cite, blockquote, big, small, sub, sup, tt, var, center, img, dfn, ins, kbd, s, samp, dl, dt, dd, ol, ul, li, fieldset, legend, label, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
@page {
  margin: 5px;
}

dt {
  font-weight: bold;
  padding-top: 10px;
}

dd {
	padding-left: 10px;
}

/* Table 显示边框 */
table
{
  border-collapse:collapse;
  margin: 0 auto;
  width: 80%;
  max-width: 100%;
}
table, td, th
{
  border:1px solid #d9d9d9;
}
/* End Table */


p {
  margin-bottom: 9px;
  line-height: 1.4;
}
a {
  color: #0069d6;
}
a:hover {
  color: #0050a3;
  text-decoration: none;
}
a img {
  border: none;
}
h1, h2, h3, h4, h5, h6 {
  color: #404040;
  line-height: 1.5;
  margin: 1em 0 0.5em;
  -webkit-hyphens: none;
  hyphens: none;
  adobe-hyphenate: none;
}
h1 {
  font-size: 180%;
  margin-bottom: 1.1em;
}
h2 {
  font-size: 150%;
}
h3 {
  font-size: 135%;
}
h4 {
  font-size: 120%;
}
h5 {
  font-size: 115%;
}
h6 {
  font-size: 110%;
}
hr {
  margin: 0 0 19px;
  border: 0;
  border-bottom: 1px solid #ccc;
}

/* 引用 样式 */
blockquote {
  background:#f9f9f9;
  border-left:10px solid #ccc;
  margin:1.5em 10px;
  padding:.5em 10px;
  /*quotes:"\201C""\201D""\2018""\2019";*/
}
blockquote:before {
  color:#ccc;
  content:open-quote;
  font-size:2em;
  line-height:.1em;
  margin-right:.25em;
  vertical-align:-.4em;
}
blockquote p {
 display:inline;
}

blockquote ul {
	padding-left: 50px;
}

blockquote ol {
	padding-left: 50px;
}
/* End 引用样式 */


/* 代码样式 */
pre {
  line-height: 0.9;
  border: 1px solid #d9d9d9;
  word-wrap: break-word;
  padding: 2px 5px 2px 3px;
}
p code {
	 background-color: #fee9cc; /* inline code 背景色 */
}
code {
  font-family: monospace;
  font-size: 70%;
}
/* End 代码样式 */

body {
  font-family: serif;
}
